@media screen and (min-width: 1600px) {
    .logo {
        width: 10em;
    }

    .name {
        font-size: 4em;
    }

    .job {
        font-size: 2em;
    }

    .welcome h1,
    em {
        font-size: 4em;
    }

    .welcome i {
        font-size: 6em;
    }

    .projects_title {
        font-size: 4em;
    }

    .projects_name {
        font-size: 2em;
    }

    .author {
        font-size: 2em;
    }

    .icon {
        width: 100px;
        height: 100px;
        font-size: 60px;
        line-height: 100px;
    }
}

@media screen and (min-width: 1201px) {
    .projects_item {
        max-width: 20%;
    }
}

@media screen and (max-width: 1200px) {
    .name {
        font-size: 2em;
    }

    .projects_name {
        font-size: 1.4em;
    }
}

@media screen and (max-width: 850px) {
    .logo {
        width: 6em;
    }

    .projects_title {
        font-size: 2em;
    }

    .projects_name {
        font-size: 1.2em;
    }

    .author {
        font-size: 1em;
    }

    .icon {
        width: 50px;
        height: 50px;
        font-size: 30px;
        line-height: 50px;
    }
}

@media screen and (min-width: 769px) {
  .projects_container {
        margin-bottom: 25px;
  }
}

@media screen and (max-width: 768px) {
    .projects_container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }

    .projects_item {
        width: 80%;
        max-width: none;
    }

    .projects_name {
        font-size: 1.3em;
    }

    .name {
        font-size: 1.8em
    }
}

@media screen and (max-width: 600px) {
    .welcome h1, em {
        font-size: 1.5em;
    }

    .welcome i {
        font-size: 2em;
    }

    .name {
        font-size: 1.6em;
    }

    .job {
        font-size: 1.3em;
    }

    .projects_title {
        font-size: 1.5em;
    }

    .projects_name {
        font-size: 1.3em;
    }

    .icon {
        width: 45px;
        height: 45px;
        font-size: 25px;
        line-height: 45px;
    }

    .logo {
        width: 5em;
    }
}

@media screen and (max-width: 450px) {
    /*.logo {*/
    /*display: none;*/
    /*}*/
    .name {
        font-size: 1.5em;
    }

    .job {
        font-size: 1em;
    }

    .projects_name {
        font-size: 1em;
    }

    .author {
        font-size: 0.5em;
    }

    .icon {
        width: 30px;
        height: 30px;
        font-size: 15px;
        line-height: 30px;
    }

    .logo {
        width: 4em;
    }
}

@media screen and (max-width: 400px) {
    .welcome h1, em {
        font-size: 1em;
    }

    .welcome i {
        font-size: 1.5em;
    }

    .name {
        font-size: 1em;
    }

    .job {
        font-size: 0.8em;
    }

    .projects_name {
        font-size: 0.8em;
    }

    .logo {
        width: 3em;
    }
}
